{{#if isLoggedIn}}
<div class="icon-wrapper">
  <div class="avatar-circle" onclick="iconMenu()">{{getInitial user.username}}</div>
  <div class="dropdown-menu">
    <div class="info-container">
      <div class="user-info">
        <div class="avatar-scircle">{{getInitial user.username}}</div>
        <p>{{user.username}}</p>
      </div>
    </div>
    <ul>
      {{#each links}}
        <div>
          <li><a href="/users/profile/{{user.userId}}">Your Channel</a></li>
        </div>
        <div>
         <li><a href="{{this.link}}">{{this.text}}</a></li>
        </div>
      {{/each}}  
      <li>
        <form action="/users/logout" method="post">
          <button class="nav-items" type="submit">Log out</button>        
        </form>
      </li>
    </ul>  
  </div>
</div>
  {{else}}
    <div class="nav-items">
      <a href="/login" class="login-button">Sign In</a>     
    </div>
  {{/if}}
