<main class="profile-container">
  <h1>User Profile</h1>
  <div class="profile-info">
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
  </div>
  <div class="posts">
    <h3>My Videos</h3>
    <div class="grid-container">
    {{#each posts}}
      <a href="/posts/{{postId}}">
        <img src="/{{thumbnail}}">
      </a>
      <div class="post-buttons">
        <form action="/posts/delete/{{this.postId}}" method="POST">
          <button type="submit" class="overlay-button delete-button">Delete</button>
        </form>
        <form action="/posts/edit/{{this.postId}}" method="GET">
          <button type="submit">Edit</button>
        </form>
      </div>
    {{/each}}
    </div>
  </div>
</main>
