<main class="post-container">
  <video class="video-container" controls loop>
    <source class="video" src="/{{currentPost.video}}" type="video/mp4" />
  </video>
  <div class="post-info">
    <h2 class="post-title">Title: {{currentPost.title}}</h2>
    <div class="post-author-date">
      <p class="username">{{currentPost.username}}</p>
      <p class="date-posted">{{formatDateString currentPost.createdAt}}</p>
    </div>
    <p class="post-description">
      {{currentPost.description}}
    </p>
  </div>
  <div class="comment-section">
    <div class="comment-box">
      <textarea id="comment-text" class="comment-box-text"></textarea>
      <button id="comment-button" class="comment-box-button" aria-hidden="true" data-postid="{{currentPost.id}}">
        <i class="fa fa-comment"></i>
      </button>
    </div>
    <div id="comments" class="comments">
      {{#each currentPost.comments}}
      <div class="comment">
        <strong class="comment-author">{{this.username}}</strong>
        <span class="comment-date">{{formatDateString this.createdAt}}</span>
        <div class="comment-text">{{this.text}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <button class="jump-to-top-button" onclick="jumpToTop()">
    <span class="fa fa-angle-up"></span>
  </button>
</main>

<script>
  document.getElementById('comment-button').addEventListener('click', function (ev) {
    let commentText = document.getElementById("comment-text").value;
    if (!commentText) return;
    var postId = ev.currentTarget.dataset.postid;

    fetch("/comments/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        comment: commentText,
        postId: postId
      })
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        var comments = document.getElementById('comments');
        let commentFragment = document.createElement('div');
        commentFragment.classList.add('comment');
        commentFragment.innerHTML = `
          <strong class="comment-author">${data.username}</strong>
          <span class="comment-date">${new Date().toLocaleString()}</span>
          <div class="comment-text">${data.commentText}</div>
        `;
        comments.appendChild(commentFragment);
      })
      .catch(err => console.log(err));
  });
</script>