<main class="post-container">
  {{#each posts}}
  <video class="video-container" controls loop>
    <source class="video" src="/{{video}}" type="video/mp4"/>
  </video>
  <div class="post-info">
    <h2 class="post-title">Title: {{title}}</h2>
    <div class="post-author-date">
      <p class="username">{{username}}</p>
      <p class="date-posted">{{formatDateString createdAt}}</p>
    </div>
    <p class="post-description">
      {{description}}
    </p>
  </div>
  {{/each}}
  <div class="comment-seection">
  <div class="comment-box">
    <textarea id="comment-text" class="comment-box-text"></textarea>
    <i
      id="comment-button"
      class="fa fa-commment comment-box-button"
      aria-hidden="true"
    ></i>
  </div>
  <div class="comments">
    {{#each posts.comments}}
      {{> commment this}}
    {{/each}}
  </div>
<button class="jump-to-top-button" onclick="jumpToTop()">
<span class="fa fa-angle-up"></span>
</button>
</main>
